body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: black 1px solid;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  width: 10rem;
}

button {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.hide {
  display: none;
}

.fadein {
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(1);
    color: blue;
  }
  50% {
    color: chartreuse;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    color: pink;
    transform: scale(1);
  }
}
