@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
}

* {
  background-color: darkslategray;
  color: floralwhite;
  font-family: "Sora", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;
}

div {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
